script.
	if ('serviceWorker' in navigator) {
		window.addEventListener('load', function() {
			navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
			// Registration was successful
			console.log('ServiceWorker registration successful with scope: ', registration.scope);
			}, function(err) {
			// registration failed :(
			console.log('ServiceWorker registration failed: ', err);
			}).catch(function(err) {
			console.log(err)
			});
		});
	} else {
		console.log('service worker is not supported');
	}

script(defer src="scripts/jquery.min.js")
script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js")
script(defer src="scripts/aos.js")
script(async src="scripts/picturefill.min.js")
script(async src="scripts/vanilla-match-heights.js")
script(defer src="scripts/jquery.mask.min.js")
script(defer src="scripts/main.min.js")
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-122703349-1")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-122703349-1');