block setups
doctype html
html(lang="pt-br" class="no-js")
	include ./helpers/head.pug
	body
		include ./includes/navbar.pug
		include ./includes/header.pug
		main(id="main" role="main")
			section(id="portfolio" class="page-section")
				div(class="wrapper")
					h3 Portfólio
					p Confira abaixo alguns dos trabalhos nos quais atuei como desenvolvedor front-end em agências e como freelancer.
				
					div(class="card-portfolio")
						div(class="item" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600")
							a(href="")
								img(src="https://placeimg.com/529/529/animals")
						div(class="item" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600")
							a(href="")
								img(src="https://placeimg.com/529/529/animals")
						div(class="item" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600")
							a(href="")
								img(src="https://placeimg.com/529/529/animals")
						div(class="item" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600")
							a(href="")
								img(src="https://placeimg.com/529/529/animals")
						div(class="item" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600")
							a(href="")
								img(src="https://placeimg.com/529/529/animals")
						div(class="item" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="600")
							a(href="")
								img(src="https://placeimg.com/529/529/animals")
				
				

			section(id="services" class="page-section")
				div(class="parallax services")
					div(class="wrapper")
						h3 Serviços
						p Criação de sites, hotsites, landing pages, blogs, otimização para mecanismos de busca (SEO).<br />São muitas possibilidades. Confira alguns dos serviços que ofereço.
				div(class="wrapper")
					p Antes de estipular custos e prazos sempre analiso o projeto como um todo, trabalhando com um código customizado e adequado a cada necessidade utilizando novas tecnologias como HTML5 e CSS3.
					p Em relação a compatibilidade, é sempre bom lembrar que navegadores atualizados resultam em melhor performance, segurança e que seu site vai funcionar em todos eles. E se eu precisar de suporte para navegadores antigos? (ex: Internet Explorer 9). Tudo é possível, desde que haja um bom motivo pra isso!
					div(class="card-services")
						div(class="item equalHeight" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="800")
							span(class="icon icon-computer" alt="PSD -> Frontend" title="PSD -> Frontend")
							h4 PSD -> Frontend
							p Monto seu site identico ao Layout criado pelo Design, com uso de novas tecnologias em HTML5, CSS3 e Javascript.
						div(class="item equalHeight" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1000")
							span(class="icon icon-front-end" alt="Crossbrowser" title="Crossbrowser")
							h4 Crossbrowser
							p Precisa de suporte para algum navegador antigo/específico? (ex: IE9). Tudo é possível, desde que haja um bom motivo pra isso!
						div(class="item equalHeight" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1200")
							span(class="icon icon-responsive-design" alt="Design Responsivo" title="Design Responsivo")
							h4 Design Responsivo
							p Seu site/blog se adaptando para qualquer dispositivo e/ou resolução (ex: Smartphone/Pc/Tv).
						div(class="item equalHeight" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="800")
							span(class="icon icon-bar-chart" alt="SEO" title="SEO")
							h4 SEO
							p Otimização para mecanismos de busca (Search Engine Optimization). É um conjunto de técnicas de otimizações para sites, blogs e páginas na web, que visam alcançar bons resultados em pesquisas em sites como o Google.
			
			section(id="about" class="page-section")
				div(class="parallax about-me")
						div(class="wrapper")
							h3 Sobre Mim
							p Libriano, 26 anos, Casado, Carioca, Pai de Pets, Skatista,<br />Tibiano, Nerd, Rastafari, Metamorfose Ambulante.

				div(class="wrapper")
					<br /><br /><br />
					div(class="biography")
						img(src="images/avatar.jpg" title="Foto de Perfil" class="profile-thumb")
						p Trabalho como <strong>Desenvolvedor Front-end</strong> desde 2016 e como <strong>Técnico de Informática</strong> (Suporte e Manutenção) desde 2011.
						p Atualmente trabalho como Desenvolvedor Front-end Home Office na <a href="https://www.am4.com.br/" title="AM4" target="_blank">AM4.</a>
						p Trabalho com as principais linguagens e ferramentas do mercado como: PHP, HTML5, CSS3, Sass, Javascript, jQuery, Design Responsivo, Wordpress, entre outras.
						p Em 2016, decidi que queria ser Desenvolvedor Web e voltei para faculdade que tinha trancado algumas vezes, foi quando entrei na <a href="https://www.sirius.com.br/" title="Sirius Interativa" target="_blank">Sirius Interativa</a> como Estagiário de Desenvolvimento Front-end Jr. Fui efetivado em 2018 e fiquei por la até Junho de 2019. Nesse periodo, tive oportunidade de participar de projetos para Odebrecht, Oi, Petrobrás, Cedae, Previ, Riogaleão, Raízen entre outros.
						p Minha carreira como profissional de TI começou em 2011, quando iniciei o Curso de Analise e Desenvolvimento de Sistemas na Estácio, e comecei trabalhar como Técnico de Informática no Hospital de Clínicas Rio Mar Barra, onde dava suporte presencial e remoto, fazia manutenções na rede, instalação de sistemas operacionais, montagem e manutenção, alem de conhecer muitas pessoas.

						<br /><br /><br />

						h3 Curiosidades:
						p Em meados de 2005 e 2006, ganhei meu primeiro computador (devia ter 14 anos), aposentei o videogame e mergulhei na informática. Em 2007, vendo que repeti de serie porque estava viciado em computador e internet (Tibia, OTServer, Programação... rs), minha mãe me colocou em um curso de <strong>Técnico de Informática</strong> na <a href="http://www.cedaspy.com.br/" target="_blank"><strong>Cedaspy</strong></a>, onde tambem fui <strong>Estagiário</strong> e com apenas 15 anos , tirava dúvidas em sala de aula e dava aulas de reposição.
			
			section(id="contact" class="page-section")
				div(class="parallax contact")
					div(class="wrapper")
						h3 Contato
						p Precisando de um novo site institucional, hotsite ou um blog?<br />Tem um projeto em mente mas precisa de um desenvolvedor front-end rápido,<br /> de qualidade e com um bom preço? Contate-me!
				div(class="wrapper")
					p Só disponibilizo meu telefone para clientes. Caso  você esteja conhecendo meu trabalho agora, mande um e-mail explicando o seu projeto com detalhes, que eu ficarei feliz em responder com uma estimativa de valores e prazo.
					div(class="description")
						p Hoje em dia, com o avanço da técnologia, tudo está na nuvem, posso realizar um trabalho para uma pessoa/empresa de qualquer lugar do mundo e fazer reuniões via chamada de video no Hangouts.
						P Estou disponibilizando meu e-mail e redes sociais, caso queira entrar em contato ou me conhecer melhor.
					address
						h4 Contate-me!
						.social-network
							a(class="icon icon-github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
							a(class="icon icon-medium " href="https://medium.com/@marllonpanisset" target="_blank" rel="noopener" title="Medium")
								span(class="path1")
								span(class="path2")
							a(class="icon icon-twitter" href="https://twitter.com/marllonpanisset" target="_blank" rel="noopener" title="Twitter")
							a(class="icon icon-linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
							a(class="icon icon-facebook" href="http://fb.com/marllonpanisset.github.io" target="_blank" rel="noopener" title="Facebook")
							a(class="icon icon-google-plus" href="https://plus.google.com/+marllonpanisset" target="_blank" rel="noopener" title="Google Plus")
							a(class="icon icon-instagram" href="https://www.instagram.com/panissetmarllon" target="_blank" rel="noopener"  title="Instagram")
							//- a(class="email" href="mailto:marllonop@gmail.com" target="_blank" rel="noopener" title="E-mail")
		include ./includes/footer.pug