block setups
doctype html
html(lang="pt-br" class="no-js")
	include ./helpers/head.pug
	body
		include ./includes/navbar.pug
		include ./includes/header.pug
		main(id="main" role="main")
			//-section(id="portfolio" class="page-section")
				div(class="wrapper")
					h3 Portfólio
					p Confira abaixo alguns dos trabalhos nos quais atuei como desenvolvedor front-end em agências e como freelancer.
						section(id="services" class="page-section")
			section(id="articles" class="page-section")
				div(class="wrapper")
					h3 Artigos
					p Confira os ultimos artigos do meu blog.

					article(data-aos="fade-in" data-aos-duration="1500" data-aos-delay="400")
						picture
							source(srcset="https://picsum.photos/327/200" media="(min-width: 1024px)")
							source(srcset="https://picsum.photos/768/350" media="(max-width: 768px)")
							source(srcset="https://picsum.photos/480/350" media="(max-width: 480px)")
							source(srcset="https://picsum.photos/320/150" media="(max-width: 320px)")
							img(src="https://picsum.photos/327/200" class="thumb-article" title="Titulo do Artigo" alt="Titulo do Artigo")
						h3 Titulo do artigo 1
						p Pequena descrição sobre o artigo. Lorem Ipsum Bla Bla Bla Cacildis.
					article(data-aos="fade-in" data-aos-duration="1500" data-aos-delay="600")
						picture
							source(srcset="https://picsum.photos/327/200" media="(min-width: 1024px)")
							source(srcset="https://picsum.photos/768/350" media="(max-width: 768px)")
							source(srcset="https://picsum.photos/480/350" media="(max-width: 480px)")
							source(srcset="https://picsum.photos/320/150" media="(max-width: 320px)")
							img(src="https://picsum.photos/327/200" class="thumb-article" title="Titulo do Artigo" alt="Titulo do Artigo")
						h3 Titulo do artigo 2
						p Pequena descrição sobre o artigo. Lorem Ipsum Bla Bla Bla Cacildis.
					article(data-aos="fade-in" data-aos-duration="1500" data-aos-delay="800")
						picture
							source(srcset="https://picsum.photos/327/200" media="(min-width: 1024px)")
							source(srcset="https://picsum.photos/768/350" media="(max-width: 768px)")
							source(srcset="https://picsum.photos/480/350" media="(max-width: 480px)")
							source(srcset="https://picsum.photos/320/150" media="(max-width: 320px)")
							img(src="https://picsum.photos/327/200" class="thumb-article" title="Titulo do Artigo" alt="Titulo do Artigo")
						h3 Titulo do artigo 3
						p Pequena descrição sobre o artigo. Lorem Ipsum Bla Bla Bla Cacildis.
					
					a(href="/blog" class="btn-blog") Ler Mais
			section(id="services" class="page-section")
				div(class="parallax services")
					div(class="wrapper")
						h3 Serviços
						p Criação de sites, hotsites, landing pages, blogs, apps, lojas virtuais, otimização para mecanismos de busca (SEO).<br />São muitas possibilidades. Confira alguns dos serviços que ofereço.
				div(class="wrapper")
					p Antes de estipular custos e prazos sempre analiso o projeto como um todo, trabalhando com um código customizado e adequado a cada necessidade utilizando novas tecnologias como HTML5 e CSS3.
					p Trabalho com as principais linguagens e ferramentas do mercado como: PHP, HTML5, CSS3, Sass, Javascript, jQuery, Design Responsivo, Wordpress, entre outras.
					p Em relação a compatibilidade, é sempre bom lembrar que navegadores atualizados resultam em melhor performance, segurança e que seu site vai funcionar em todos eles. E se eu precisar de suporte para navegadores antigos? (ex: Internet Explorer 9). Tudo é possível, desde que haja um bom motivo pra isso!
					div(class="card-services")
						div(class="item equalHeight" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="400")
							div(class="icon icon-computer" alt="PSD -> Frontend" title="PSD -> Frontend")
								h4 PSD -> Frontend
								p Monto seu site identico ao Layout criado pelo Design, com uso de novas tecnologias em HTML5, CSS3 e Javascript.
						div(class="item equalHeight" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="600")
							div(class="icon icon-front-end" alt="Crossbrowser" title="Crossbrowser")
								h4 Crossbrowser
								p Precisa de suporte para algum navegador antigo/específico? (ex: IE9). Tudo é possível, desde que haja um bom motivo pra isso!
						div(class="item equalHeight" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="400")
							div(class="icon icon-responsive-design" alt="Design Responsivo" title="Design Responsivo")
								h4 Design Responsivo
								p Seu website pode se adaptar para qualquer dispositivo e/ou resolução<br />(ex: Smartphone, Tablet, Desktop, Tv).
						div(class="item equalHeight" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="600")
							div(class="icon icon-bar-chart" alt="SEO" title="SEO")
								h4 SEO (Search Engine Optimization)
								p Em português: Otimização para mecanismos de busca, é um conjunto de técnicas de otimizações para sites, blogs e páginas na web, que visam alcançar bons resultados em pesquisas em sites como o Google.
						div(class="item equalHeight" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="600")
							div(class="icon icon-analytics" alt="Analytics" title="Analytics")
								h4 Analytics
								p Que tal saber quem acessou seu site? De que pais e quais paginas ele navegou? Quem fizer o site comigo ganha um mes gratis.
						div(class="item equalHeight" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="600")
							div(class="icon icon-domain-www" alt="Consulta de dominio" title="Consulta de dominio")
								h4 Consulta de dominio
								p Seu dominio expirou ou você não tem um dominio? Entre em contato que eu te ajudo ter seu www.suaempresa.com.br, quem fizer o site comigo ganha 1 ano gratis de dominio.

			section(id="plans" class="page-section")
				div(class="wrapper")
					h3 Planos
					p Trabalho com Desenvolvimento Web  emgeral e tenho todas as soluções para seu site, blog, empresa. Tem alguma ideia e precisa de ajuda? Tenho diversos serviços e planos para ajudar você e seus negócios.

					section.plans
						.plan.basico
							h3 Basico
							p Para pequenos negócios e sites pessoais com interesse em criar sua marca da web.

							ul
								li Atendimento especializado
								li Desenvolvimento de site(ou hotsite) com até 3 páginas
								li Dominio e hospedagem incluso
							
							span A partir de R$ 29,90
							span os planos são de assinatura mensal com todos os serviços incluidos.
							
						.plan.microempreededor
							h3 Microempreendedor
							p Ideal para criar um site profissional para seu negócio ou empresa na web.

							ul
								li Desenvolvimento de sites ou blog (até 6 Páginas)
								li Dominio e hospedagem incluso
								li 3 Emails Corporativos
								li Um Mes Gratis de Google Analytics

							span A partir de R$ 59,90
							span os planos são de assinatura mensal com todos os serviços incluidos.

						.plan.grandes-empresas
							h3 Grandes Empresas
							p Ideal para grandes empresas e portais.

							ul
								li Sites, Portais, Blogs (até 10 Páginas)
								li Dominio e hospedagem incluso
								li 6 Emails Corporativos
								li Um Mes Gratis de Google Analytics
								li Cartão de Visita Gratis (Só paga impressão da gráfica)

							span A partir de R$ 99,90
							span os planos são de assinatura mensal com todos os serviços incluidos.


			section(id="about" class="page-section")
				div(class="parallax about-me")
					div(class="wrapper")
						h3 Sobre Mim
						p 27 anos, Casado, Cristão, Carioca, Pai de Pets, Skatista e Tibiano (rs).
				div(class="wrapper")
					<br /><br /><br />
					div(class="biography")
						img(src="https://i.imgur.com/6RJ51cs.jpg" title="Foto de Perfil" class="profile-thumb lazy" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="600")
						p Minha carreira como profissional de TI começou em 2011, quando iniciei o Curso de Analise e Desenvolvimento de Sistemas na <a href="https://portal.estacio.br/" target="_blank" title="Estácio">Estácio</a>, e comecei trabalhar como Técnico de Informática no <a href="http://www.riomar.com.br/" title="Hospital Rio Mar" target="_blank">Hospital Rio Mar</a>, onde dava suporte presencial e remoto, fazia manutenções na rede, instalação de sistemas operacionais, montagem e manutenção...
						p Em 2016, visando crescimento profissional e aprender coisas novas, decidi me aventurar e por em pratica tudo que estudei desde 2007. Voltei para faculdade na intenção de mudar de area. Foi quando entrei na <a href="https://www.sirius.com.br/" title="Sirius Interativa" target="_blank">Sirius Interativa</a> como Estagiário de Desenvolvimento Front-end Jr, em 2018 fui efetivado e fiquei por la até 2019. Nesse tempo, aprimorei meus conhecimentos e aprendi muita coisa. Tive oportunidade de participar de projetos para Odebrecht, Oi, Petrobrás, Cedae, Previ, Riogaleão, Raízen entre outros.
						p Entre 2019 e 2020, trabalhei como Desenvolvedor Front-end Home Office na <a href="https://www.am4.com.br/" title="AM4" target="_blank">AM4.</a>

						<br /><br /><br />

						h3 Habilidades:

						p Conheça algumas das minhas habilidades, para mais informações, acesse meu linkedin: <a class="icon icon-linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin">Linkedin</a>.

						ul.skills
							li.cem HTML4 / HTML5 / Pug
							li.oitenta CSS2 / CSS3/ Scss
							li.sesenta Javascript / jQuery
							li.quarenta PHP / PHPMyAdmin
							li.cinquenta Drupal / Wordpress / Yii
							li.setenta Git
							li.cinquenta MVC

						ul.skills
							li.oitenta PWA - Progressive Web App
							li.oitenta RWD - Responsive Web Design
							li.oitenta Cross-Browser
							li.setenta Vagrant
							li.cinquenta Docker
							li.setenta Yarn / Npm
							li.setenta Gulp

			section(id="contact" class="page-section")
				div(class="parallax contact")
					div(class="wrapper")
						h3 Contato
						p Precisando de um novo site institucional, hotsite ou um blog?<br />Tem um projeto em mente mas precisa de um desenvolvedor front-end rápido,<br /> de qualidade e com um bom preço? Contate-me!
				div(class="wrapper")
					p Só disponibilizo meu telefone para clientes. Caso  você esteja conhecendo meu trabalho agora, <a href="mailto:marllonop@gmail.com" title="mande um e-mail">mande um e-mail</a> explicando o seu projeto com detalhes, que eu ficarei feliz em responder com uma estimativa de valores e prazo.
					div(class="description")
						p Hoje em dia, com o avanço da técnologia, tudo está na nuvem, posso realizar um trabalho para uma pessoa/empresa de qualquer lugar do mundo e fazer reuniões via chamada de video no Hangouts.
						P Estou disponibilizando meu e-mail e redes sociais, caso queira entrar em contato ou me conhecer melhor.
					address
						h4 Contate-me!

						.social-network
							a(class="icon icon-github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
							a(class="icon icon-linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
							a(class="icon icon-facebook" href="http://fb.com/marllonpanisset.github.io" target="_blank" rel="noopener" title="Facebook")
							a(class="icon icon-gmail" href="mailto:marllonop@gmail.com" target="_blank" rel="noopener" title="E-mail")

						.info
							a(class="email" href="mailto:marllonop@gmail.com" title="E-mail") marllonop@gmail.com
							a(class="celular" href="tel:+5521984659039" title="Celular") +55 (21) 98465-9039
							a(class="residencial" href="tel:+5521984659039" title="Residencial") +55 (21) 2456-4766
		include ./includes/footer.pug