ul.social-network
    li
        a(href="https://github.com/marllonpanisset" target="_blank") Github
    li
        a(href="https://twitter.com/marllonpanisset" target="_blank") Twitter
    li
        a(href="https://medium.com/@marllonpanisset" target="_blank") Medium
    li
        a(href="https://www.linkedin.com/in/marllonpanisset" target="_blank") Linkedin