ul.social-network
    li
        a(href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
            img(src="images/svg/github.svg" alt="Github")
    li
        a(href="https://twitter.com/marllonpanisset" target="_blank" rel="noopener" title="Twitter")
            img(src="images/svg/twitter.svg" alt="Twitter")
    li
        a(href="https://medium.com/@marllonpanisset" target="_blank" rel="noopener" title="Medium")
            img(src="images/svg/medium.svg" alt="Medium")
    li
        a(href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
            img(src="images/svg/linkedin.svg" alt="Linkedin")