nav(id="navbar" role="navigation")
    .wrapper
        h1.site-name(data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1000")
            a(href="#" data-scroll="#header")
        button(aria-label="Abrir Menu" id="menu-bar" class="hamburger hamburger--collapse" type="button")
            span(class="hamburger-box")
                span(class="hamburger-inner")
        ul.main-menu(data-aos="fade-left" data-aos-duration="1500" data-aos-delay="1000")
            li: a(href="#about") Sobre mim
            li: a(href="#services") Serviços
            li: a(href="#portfolio") Portfólio
            li: a(href="#contact") Contato