nav(id="navbar" role="navigation")
    .wrapper
        h1.site-name
            a(href="#" data-scroll="#header")
        button(aria-label="Abrir Menu" id="menu-bar" class="hamburger hamburger--collapse" type="button")
            span(class="hamburger-box")
                span(class="hamburger-inner")
        ul.main-menu
            li: a(href="#about") Sobre mim
            li: a(href="#services") Serviços
            li: a(href="#portfolio") Portfólio
            li: a(href="#contact") Contato