navbar#navbar
    .wrapper
        h1.site-name: a(href="#header") Marllon Panisset

        ul.main-menu
            li
                a(href="#services") Serviços
            li
                a(href="#portfolio") Portfólio
            li
                a(href="#about") Sobre
            li
                a(href="#contact") Contato