navbar.navbar
    .container
        h1.site-name: a(href="") Marllon Panisset

        ul.main-menu
            li
                a(href="") Serviços
            li
                a(href="") Portfólio
            li
                a(href="") Sobre
            li
                a(href="") Contato