block setups
doctype html
html(lang="pt-br" class="no-js")
	include ./helpers/head.pug
	body
		include ./includes/header.pug
		main#main
			section.home#home
				.container
					.row
						.col-lg-6
							h1 MARLLON PANISSET
							h2 Front-end Developer

						.col-lg-6.image
							.image

					a(href="#about-me" class="scrollAnchor page-scroll")
						span(class="icon-chevron-down")
			section#about-me.about-me
			
				div.parallax.about-me.js-scroll.fade-in-bottom
					.container
						.row
							.col-lg-12
								h3 Sobre mim
				.container
					.row
						.col-lg-12.js-scroll.fade-in-bottom
							.text-container.first.fade-in-bottom
								h2 Olá, Me chamo Marllon,
								p
									| Desenvolvedor front-end com 8 anos de experiência em projetos de alto nível. Colaborei com empresas renomadas como <a href="https://www.sirius.com.br/" title="Sirius Interativa" target="_blank">Sirius Interativa</a> (<a href="https://www.sirius.com.br/cases/oi" title="Intranet Oi Interativa" target="_blank">Intranet Oi Interativa</a>, <a href="https://www.sirius.com.br/cases/supervia-to-de-love-no-trem" title="Supervia - Tô De Love No Trem" target="_blank">Supervia - Tô De Love No Trem</a>) e <a href="https://www.ed3.com.br/" title="ED3 Digital" target="_blank">ED3 Digital</a> (e-commerce Vtex para <a href="https://abrir.link/sYqKq" title="Dominique Maison de Beauté" target="_blank">Dominique Maison de Beauté</a>, <a href="https://www.digaspi.com.br/" title="Di|Gaspi" target="_blank">Di|Gaspi</a> e <a href="https://www.slowbeauty.com.br/" title="Slow Beauty" target="_blank">Slow Beauty</a>). Atualmente, <a href="https://www.fiverr.com/marllonpanisset" title="ofereço serviços freelance no Fiverr" target="_blank">ofereço serviços freelance no Fiverr.</a> Para mais detalhes acesse meu <a href="https://www.linkedin.com/in/marllon-panisset" target="_blank">Linkedin</a>, ou meu <a href="https://www.linktr.ee/marllonpanisset" target="_blank">Linktr.ee</a>.

				.container
					.row
						.col-lg-4.js-scroll.fade-in-bottom
							.text-container
								.time 2020 - 2022
								h6 ED3 Digital
								p Desenvolvedor Front-end e VTEX
						
						.col-lg-4.js-scroll.fade-in-bottom
							.text-container
								.time 2019 - 2020 · 9 Meses
								h6 AM4 (Home-office Remoto Temporário)
								p Desenvolvedor Front-end
						
						.col-lg-4.js-scroll.fade-in-bottom
							.text-container
								.time 2018 - 2019 · 1 ano 5 meses
								h6 Sirius Interativa
								p Desenvolvedor Front-end Jr

				.container
					.row
						.col-lg-4.js-scroll.fade-in-bottom
							.text-container
								.time 2016 - 2017 · 1 anos e 7 meses
								h6 Sirius Interativa
								p Desenvolvedor Front-end Jr (Estágio)
						.col-lg-4.js-scroll.fade-in-bottom
							.text-container
								.time 2011 - 2016 · 4 anos e 10 meses
								h6 Hospital de Clínicas Rio Mar Barra LTDA.
								p Técnico de Informática
				.container
					.row
						.col-lg-12.skills.js-scroll.fade-in-bottom
							h2 Habilidades 
							ul.skills
								li.skill
									span Kanban
								li.skill
									span HTML5
								li.skill
									span CSS3
								li.skill
									span SASS
								li.skill
									span Javascript
								li.skill
									span jQuery
								li.skill
									span PUG
								li.skill
									span GULP
								li.skill
									span WordPress
								li.skill
									span VTEX
								li.skill
									span Responsive Webdesign
								li.skill
									span Adobe Photoshop
								li.skill
									span Figma
								li.skill
									span Vagrant
								li.skill
									span Docker
								li.skill
									span Git
								li.skill
									span Bootstrap
								li.skill
									span Linux
								li.skill
									span Windows
								li.skill
									span Jamstack
								li.skill
									span PSD para HTML
								li.skill
									span Template Newsletter
					.row
						.col-lg-12.js-scroll.fade-in-bottom.curriculo
							h2 Currículo
							
							a(href="marllon-panisset-cv-pt-br.pdf" target="_blank" class="icon-file-pdf") Download
			section.contact#contact
				div.parallax.contact
					.container
						.row
							.col-lg-12
								h3 Contato
				div.networking-container
					.container
						.row
							.networking
								.networking-item
									a(class="github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
										span.icon-github
								.networking-item
									a(class="linkedin" href="https://www.linkedin.com/in/marllon-panisset" target="_blank" rel="noopener" title="Linkedin")
										span.icon-linkedin
								.networking-item
									a(class="gmail" href="mailto:marllonop@gmail.com" target="_blank" rel="noopener" title="E-mail")
										span.icon-mail4
								.networking-item
									a(class="whatsapp" href="https://wa.me/5521987881633" target="_blank" rel="noopener" title="WhatsApp")
										span.icon-whatsapp
		include ./includes/footer.pug
