footer#footer
    .wrapper
        span.copyright © 2019 &nbsp;
            a(href="mailto:marllonop@gmail.com" title="Marllon Panisset") Marllon Panisset
        div(class="fb-like" colorscheme="dark" data-href="https://www.facebook.com/marllonpanisset.github.io/" data-width="400" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true")
        div(class="g-plus" data-action="share" data-width="120" data-height="24" data-size="small")
.loading
    div
include ./../helpers/script.pug