footer#footer
    .wrapper
        div.github-button
            //- a(class="github-button" href="https://github.com/marllonpanisset" data-color-scheme="no-preference: light; light: light; dark: light;" data-size="large" data-show-count="true" aria-label="Follow @marllonpanisset on GitHub") Follow @marllonpanisset
            //- div(class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="horizontal" data-theme="dark" data-vanity="marllonpanisset")
            //-     a(class="LI-simple-link" href='https://br.linkedin.com/in/marllonpanisset?trk=profile-badge') Marllon Panisset
    span.copyright © 2020 Marllon Panisset, Todos direitos Reservados.

.loading
    div
include ./../helpers/script.pug