header(id="header" role="banner")
	.wrap
		.site-description(data-aos="fade-up" data-aos-duration="1300" data-aos-delay="1500")
			h2 Desenvolvedor Front-end
			span Rio de Janeiro - RJ

			.social-network
				a(class="icon icon-github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
				a(class="icon icon-medium " href="https://medium.com/@marllonpanisset" target="_blank" rel="noopener" title="Medium")
					span(class="path1")
					span(class="path2")
				a(class="icon icon-twitter" href="https://twitter.com/marllonpanisset" target="_blank" rel="noopener" title="Twitter")
				a(class="icon icon-linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
				a(class="icon icon-facebook" href="http://fb.com/marllonpanisset.github.io" target="_blank" rel="noopener" title="Facebook")
				a(class="icon icon-google-plus" href="https://plus.google.com/+marllonpanisset" target="_blank" rel="noopener" title="Google Plus")
				a(class="icon icon-instagram" href="https://www.instagram.com/panissetmarllon" target="_blank" rel="noopener"  title="Instagram")
	a(href="#portfolio" class="read-more" role="button") Ler Mais
		svg(viewBox="0 0 320 512"): path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")