header(id="header" role="banner")
	picture
		source(srcset="https://imgur.com/GoyBvOH.jpg" media="(max-width: 1920px)")
		source(srcset="https://imgur.com/1vb30CN.jpg" media="(max-width: 1600px)")
		source(srcset="https://imgur.com/zWlwlN0.jpg" media="(max-width: 1400px)")
		source(srcset="https://imgur.com/OWJYb3u.jpg" media="(max-width: 1366px)")
		source(srcset="https://imgur.com/8ROi7od.jpg" media="(max-width: 1200px)")
		source(srcset="https://imgur.com/fOU0oMz.jpg" media="(max-width: 1024px)")
		source(srcset="https://imgur.com/EUcw2F5.jpg" media="(max-width: 1024px) and (max-height: 768px)")
		source(srcset="https://imgur.com/nzLcUUb.jpg" media="(max-width: 812px) and (max-height:375px)")
		source(srcset="https://imgur.com/72MMxdw.jpg" media="(max-width: 768px)")
		source(srcset="https://imgur.com/pdVRYML.jpg" media="(max-width: 640px)")
		source(srcset="https://imgur.com/tep4Lgi.jpg" media="(max-width: 480px)")
		source(srcset="https://i.imgur.com/aDcmz4t.jpg" media="(max-width: 375px)")
		img(id="webdoor" src="https://imgur.com/LwBwcHp.jpg", alt="Marllon Panisset - Desenvolvedor Front-end")
	.wrap
		.site-description(data-aos="fade-up" data-aos-duration="1500" data-aos-delay="1500")
			h2 Desenvolvedor <br />Front-end
			span Rio de Janeiro - RJ

			.social-network
				a(class="icon icon-github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
				a(class="icon icon-linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
				a(class="icon icon-facebook" href="http://fb.com/marllonpanisset.github.io" target="_blank" rel="noopener" title="Facebook")
				a(class="icon icon-gmail" href="mailto:marllonop@gmail.com" target="_blank" rel="noopener" title="E-mail")
	a(href="#articles" class="read-more" role="button") Ler Mais
		svg(viewBox="0 0 320 512"): path(fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z")