nav(id="navbar" role="navigation")
    .wrapper
        h1.site-name(data-aos="fade-right" data-aos-duration="1250" data-aos-delay="1500")
            a(href="#header")
        button(aria-label="Abrir Menu" id="menu-bar" class="hamburger hamburger--collapse" type="button" data-aos="fade-left" data-aos-duration="1250" data-aos-delay="1500")
            span(class="hamburger-box")
                span(class="hamburger-inner")
        ul.main-menu(data-aos="fade-left" data-aos-duration="1250" data-aos-delay="1500")
            //-li: a(href="#portfolio") Portfólio
            //- li: a(href="#articles") Artigos
            //- li: a(href="#plans") Planos
            li: a(href="#services") Serviços
            li: a(href="#about") Sobre mim
            li: a(href="#contact") Contato
            li
                .social-network
                    a(class="icon icon-github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
                    a(class="icon icon-linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
                    a(class="icon icon-facebook" href="http://fb.com/marllonpanisset.github.io" target="_blank" rel="noopener" title="Facebook")
                    a(class="icon icon-gmail" href="mailto:marllonop@gmail.com" target="_blank" rel="noopener" title="E-mail")