.social-network {
    display: table;
    margin: {
        top: 50px;
        left: auto;
        right: auto;
    }

    li {
        float: left;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
        
        a {
            text-decoration: none;
        }
    }
}