$susy: (
columns: 12,
container: 1170px,
gutters: 30px/67px,
gutter-position: 'split',
debug: (image: hide),
);

.wrapper {
    max-width: 1170px;
    margin: {
        left: auto;
        right: auto;
    }

    @media (min-width: 1px) and (max-width: 359px) {
        padding: {
            left: 25px;
            right: 25px;
        }
    }

    @media (min-width: 360px) and (max-width: 767px) {
        padding: {
            left: 30px;
            right: 30px;
        }
    }
    
    @media (min-width: 768px) {
        padding: {
            left: 40px;
            right: 40px;
        }
    }

    @media (min-width: 1366px) {
        max-width: 1280px;
    }

    @media (min-width: 1600px) {
        max-width: 1480px;
    }
    
    @media (min-width: 1800px) {
        max-width: 1600px;
    }

    @media (min-width: 1920px) {
        max-width: 1800px;
    }
}

#services,
#portfolio,
#about,
#contact {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 60px;
    min-height: 100vh;
}

#contact {
    margin-bottom: 50px;

    ul {
        list-style: initial;
        padding-left: 18px;

        li {
            line-height: 1.5em;
        }
    }

    .description {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 20px;
        padding-right: 30px;
        box-sizing: border-box;
    }

    address {
        position: relative;
        float: left;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    
        
        h4 {
            font-size: em(25px);
            margin-bottom: 20px;
            float: left;
            margin-top: 20px;
        }

        // .social-network {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     width: 100%;
        //     margin: {
        //         left: auto;
        //         right: auto;
        //     }

        //     @media (min-width:769px) {
        //         margin-top: 50px;
        //     }

        //     @media (max-width:768px) {
        //         margin-top: 20px;
        //     }

        //     @media (max-width: 767px) {
        //         justify-content: space-evenly;
        //     }

        //     a {
        //         position: relative;
        //         float: left;
        //         display: block;
        //         padding: 15px;
        //         border: 1px solid $preto;
        //         transition: ease-out .4s;

        //         &:before {
        //             transition: ease-out .4s;
        //         }

        //         &.icon.icon-medium {

        //             @media (max-width: 767px) {
        //                 padding: 12px;
        //             }

        //             &:hover {
        //                 border: 1px solid #00ab6c;
        //             }

        //             .path1 {
        //                 &:before {
        //                     font-size: 25px;
        //                     transition: all .4s ease-in-out;

        //                     @media (max-width: 767px) {
        //                         font-size: 22px;
        //                     }
        //                 }
        //             }

        //             &:hover {
        //                 .path1 {
        //                     &:before {
        //                         color: #00ab6c;
        //                     }
        //                 }
        //             }
                    
        //             .path2 {
        //                 &:before {
        //                     font-size: 25px;

        //                     @media (max-width: 767px) {
        //                         font-size: 22px;
        //                     }
        //                 }
        //             }
        //         }

        //         &.icon.icon-github {
        //             padding: 10px;

        //             @media (max-width: 767px) {
        //                 padding: 8px;
        //             }

        //             &:before {
        //                 font-size: 35px;
        //                 transition: all .4s ease-in-out;

        //                 @media (max-width: 767px) {
        //                     font-size: 30px;
        //                 }
        //             }

        //             &:hover {
        //                 border: 1px solid #333;

        //                 &:before {
        //                     color: #333;
        //                 }
        //             }
        //         }
                
        //         &.icon.icon-twitter {

        //             @media (max-width: 767px) {
        //                 padding: 11px;
        //             }

        //             &:before {
        //                 font-size: 25px;
        //                 transition: all .4s ease-in-out;

        //                 @media (max-width: 767px) {
        //                     font-size: 24px;
        //                 }
        //             }

        //             &:hover {
        //                 border: 1px solid #55acee;

        //                 &:before {
        //                     color: #55acee;
        //                 }
        //             }
        //         }

        //         &.icon.icon-linkedin {
        //             padding: 10px;

        //             @media (max-width: 767px) {
        //                 padding: 6px;
        //             }

        //             &:before {
        //                 font-size: 35px;
        //                 transition: all .4s ease-in-out;

        //                 @media (max-width: 767px) {
        //                     font-size: 34px;
        //                 }
        //             }

        //             &:hover {
        //                 border: 1px solid #0077B5;

        //                 &:before {
        //                     color: #0077B5;
        //                 }
        //             }
        //         }

        //         &.icon.icon-facebook {
        //             padding: 15px;

        //             @media (max-width: 767px) {
        //                 padding: 11px;
        //             }

        //             &:before {
        //                 font-size: 25px;
        //                 transition: all .4s ease-in-out;

        //                 @media (max-width: 767px) {
        //                     font-size: 24px;
        //                 }
        //             }

        //             &:hover {
        //                 border: 1px solid #3b5999;

        //                 &:before {
        //                     color: #3b5999;
        //                 }
        //             }
        //         }
                
        //         &.icon.icon-google-plus {

        //             @media (max-width: 767px) {
        //                 padding: 10px;
        //             }

        //             &:before {
        //                 font-size: 25px;
        //                 transition: all .4s ease-in-out;

        //                 @media (max-width: 767px) {
        //                     font-size: 26px;
        //                 }
        //             }

        //             &:hover {
        //                 border: 1px solid #dd4b39;

        //                 &:before {
        //                     color: #dd4b39;
        //                 }
        //             }
        //         }

        //         &.icon.icon-instagram {
        //             @media (max-width: 767px) {
        //                 padding: 11px;
        //             }

        //             &:before {
        //                 font-size: 25px;
        //                 transition: all .4s ease-in-out;

        //                 @media (max-width: 767px) {
        //                     font-size: 24px;
        //                 }
        //             }

        //             &:hover {
        //                 border: 1px solid #e4405f;

        //                 &:before {
        //                     color: #e4405f;
        //                 }
        //             }
        //         }

        //         &:hover {
        //             border-radius: 50px;
        //             transition: ease-in .4s;

        //             &:before {
        //                 transition: ease-in .4s;
        //             }
        //         }
        //         @media (min-width: 768px) {
        //             &:not(:last-child) {
        //                 margin-right: 60px;
    
        //                 @media (max-width: 768px) {
        //                     margin-right: 40px;
        //                 }
        //             }
        //         }

        //         @media (max-width: 480px) {
        //             border: none;

        //             &:hover {
        //                 border: none;
        //             }
        //         }
        //     }   
        // }
    }
}

#about {
    padding-top: 120px;

    .parallax {
        margin-bottom: 100px;
    }

    h3 {
        margin-bottom: 20px;
    }

    .profile-thumb {
        float: right;
        display: block;
        margin: {
            left: 50px;
            right: 0;
        }
        
        @media (min-width: 1px) and (max-width: 479px) {
            border-radius: 192px;
            width: 192px;
            height: 192px;
            background: url($profile-mobile) no-repeat;
        }

        @media (min-width:480px) and (max-width: 1179px) {
            border-radius: 256px;
            min-width: 256px;
            min-height: 256px;
            background: url($profile-tablet) no-repeat;
        }

        @media (min-width: 1180px) {
            border-radius: 256px;
            min-width: 256px;
            min-height: 256px;
            background: url($profile-tablet) no-repeat;
        }

        @media (min-width: 1600px) {
            min-width: 360px;
            min-height: 360px;
            border-radius: 360px;
            background: url($profile-desktop) no-repeat;
        }

        @media (max-width: 1179px) {
            display: table;
            float: none;
            width: auto;
            margin: {
                left: auto;
                right: auto;
                bottom: 40px;
            }
        }
    }

    .biography {
        position: relative;
        width: 100%;
        float: left;
        margin: {
            left: 0;
            right: 0;
        }

        p {
            letter-spacing: .015em;
        }

        @media (max-width: 1179px) {
            width: 100%;
        }
    }
}

#about .skills {
    position: relative;
    float: left;
    width: 100%;
    
    h4 {
        float: left;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
}
