$susy: (
columns: 12,
container: 1170px,
gutters: 30px/67px,
gutter-position: 'split',
debug: (image: hide),
);

.wrapper {
    max-width: 1170px;
    margin: {
        left: auto;
        right: auto;
    }

    @media (max-width: 1170px) {
        padding: {
            left: 20px;
            right: 20px;
        }
    }
}

#services,
#portfolio,
#about,
#contact {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 60px;
    min-height: 100vh;
}

#about {
    padding-top: 120px;

    .parallax {
        margin-bottom: 100px;
    }

    .profile-thumb {
        @include span(4);
        margin-left: 0;
        margin-right: 0;
        transition: all .3s;

        @media (max-width: 768px) {
            @include span(12);
            transition: all .3s;

            img {
                max-width: 250px;
                transition: all .3s;
                margin: {
                    left: auto;
                    right: auto;
                    bottom: 40px;
                }
            }
        }

        img {
            border-radius: 50%;

            @media (max-width: 480px) {
                max-width: 200px;
                transition: all .3s;
            }
        }
    }

    .biography {
        @include span(8);
        margin-left: 0;
        margin-right: 0;
        float: right;
        transition: all .3s;

        @media (max-width: 768px) {
            @include span(12);
            transition: all .3s;
        }
    }
}

.skills {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 70px;

    .col-left {
        position: relative;
        float: left;
        width: 46%;
        margin-right: 8%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .col-right {
        position: relative;
        float: left;
        width: 46%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}