#footer {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    background-color: $preto3;
    color: $branco;
    padding: {
        top: 40px;
        bottom: 30px;
    }
}