#navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    z-index: 100;
    transition: all .3s;

    @media (max-width: 800px) {
        background-color: $preto3;
    }

    &.scrolled {
        background-color: $preto3;
        transition: all .3s;

        .main-menu li a {
            position: relative;
            transition: all .5s cubic-bezier(.4,0,.2,1);

            &:before {
                content: "";
                display: block;
                height: 2px;
                width: 0;
                bottom: 0px;
                position: absolute;
                left: 50%;
                background-color: $branco;
                transition: all .30s cubic-bezier(.4,0,.2,1);
            }

            &:hover,
            &.active {
                text-decoration: none;

                &:before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    #menu-bar {
        position: relative;
        float: right;
        display: block;
        width: 30px;
        padding: 0;
        margin-top: 13px;
        outline: none;

        svg {
            color: $branco;
        }

        @media (min-width: 801px) {
            display: none;
        }

        @media (max-width: 360px) {
            width: 26px;
            margin-top: 15px;
        }
    }

    .main-menu {
        position: relative;
        float: right;

        &.open {
            display: block;
            margin-top: 60px;
            position: absolute;
            left: 0;
            width: 100%;
            box-shadow: 0px 2px 5px 0px $preto;

            li {
                float: left;
                height: 60px;
                width: 100%;
                background: $preto3;
                text-align: center;

                a {
                    display: initial;
                    padding: 0;

                    @media (max-width: 800px) {
                        position: relative;
                        display: inline-block;
                        width: 80%;
                        transition: all .5s cubic-bezier(.4,0,.2,1);

                        &:before {
                            content: "";
                            display: block;
                            height: 2px;
                            width: 0;
                            bottom: 0px;
                            position: absolute;
                            left: 50%;
                            background-color: $branco;
                            transition: all .30s cubic-bezier(.4,0,.2,1);
                        }

                        &:hover,
                        &.active {
                            text-decoration: none;

                            &:before {
                                width: 100%;
                                left: 0;
                            }
                        }
                    }

                    &:hover,
                    &.active {
                        &:before {
                            height: 2px;
                        }
                    }
                }
            }
        }

        @media (max-width: 800px) {
            display: none;
        }

        li {
            float: left;
            height: 60px;
            margin-right: 3px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: 'Open Sans', Arial, Sans-Serif;
                text-transform: uppercase;
                letter-spacing: .1em;
                font-size: em(15px);
                padding: 0 15px;
                display: block;
                color: $branco;
                outline: none;
                transition: all .1s ease-in-out;
                
                &:hover {
                    font-weight: 600;
                    background: transparent;
                    text-decoration: none;
                    transition: all .1s ease-in-out;
                }
            }
        }
    }

    .site-name {
        position: relative;
        float: left;
        font-family: 'Oswald';
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 1.65rem;
        color: $branco;
        transition: all .1s ease-in-out;

        @media (max-width: 480px) {
            font-size: 1.5rem;
        }

        @media (max-width: 360px) {
            font-size: 1.35rem;
        }

        &:hover {
            transition: all .1s ease-in-out;
            color: $branco;
        }

        a {
            text-decoration: none;
            outline: none
        }

        svg {
            float: left;
            width: 27px;
            margin-top: 20px;
            margin-right: 10px;
        }
    }
}