*, *:before, *:after {
    @include box-sizing(border-box);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

sup {
    vertical-align: top;
    font-size: em(10px, 16px);
}

input[type="submit"],
button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

html, body {
    -webkit-font-smoothing: antialiased;
}

body {

    a {
        text-decoration: inherit;
        font-family: inherit;
        color: inherit;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}