$padraoTexto: $preto2;
$padraoTextoLink: $preto;
$padraoTextoLinkHover: $azul;
$base-font-size: 16px;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

body {
    font-family: 'Open Sans', helvetica neue, Helvetica, Arial, Sans-serif;
    font-size: $base-font-size;
    color: $padraoTexto;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

p {
    margin-bottom: em(20px);
    color: $padraoTexto;
    
    @media (min-width: 1025px) {
        line-height: em(25px, 18px);
        font-size: em(18px);
    }

    @media (max-width: 1024px) {
        line-height: em(25px, 16px);
        font-size: em(16px);
    }

    @media (max-width: 360px) {
        line-height: em(25px, 15px);
        font-size: em(15px);
    }

    @media (max-width: 320px) {
        line-height: em(25px, 14px);
        font-size: em(14px);
    }

    a {
        text-decoration: underline;
        color: $padraoTextoLink;
        transition: all .3s;
        
        &:hover {
            color: $padraoTextoLinkHover;
            transition: all .3s;
        }
    }
}

h3 {
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: em(48px);
    margin-bottom: 40px;
    font-weight: 700;
    color: $preto2;

    @media (max-width: 1024px) {
        font-size: em(36px);
        margin-bottom: 30px;
    }
    
    @media (max-width: 480px) {
        font-size: em(32px);
        margin-bottom: 20px;
    }
}

h4 {
    text-transform: uppercase;
    font-family: 'roboto';
    font-size: em(28px);
    margin-bottom: 40px;
    font-weight: 700;
    color: $preto2;
}