nav(id="navbar" role="navigation")
    a(class="logo" href="#home")
        span.icon-embed2
        span MARLLON PANISSET
    
    button#icon-menu.icon-menu

    div#menu-mobile
        ul.main-menu
            li
                a(class="nav-link" href="#about-me") Sobre mim
            li
                a(class="nav-link" href="#contact") Contato
    