nav(id="navbar" role="navigation")
    a(class="logo" href="#home")
        img(src="/images/logo-black-desktop.png")

    button(class="hamburger" type="button")
        span(class="hamburger-box")
            span(class="hamburger-inner")
    ul.main-menu
        li
            a(class="nav-link" href="#about-me") Sobre mim
        li
            a(class="nav-link" href="#contact") Contato
        li.social
            a(class="github" href="https://github.com/marllonpanisset" target="_blank" rel="noopener" title="Github")
                span.icon-github
        li.social
            a(class="linkedin" href="https://www.linkedin.com/in/marllonpanisset" target="_blank" rel="noopener" title="Linkedin")
                span.icon-linkedin
        li.social
            a(class="gmail" href="mailto:marllonop@gmail.com" target="_blank" rel="noopener" title="E-mail")
                span.icon-mail4
        li.social
            a(class="whatsapp" href="https://wa.me/5521987881633" target="_blank" rel="noopener" title="WhatsApp")
                span.icon-whatsapp