head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Marllon Panisset - Desenvolvedor Front-end
    meta(name="description" content="Desenvolvedor Front-end")
    meta(name="keywords" content="Marllon, Panisset, Marllon Panisset, Desenvolvedor Front-end, Desenvolvedor, Developer, Dev, Front, Front-end, Frontend, Web, Webdesign, Web Design Rio de Janeiro, Rj, HTML, CSS, JAVASCRIPT, JS, Programação, Programador, criação de sites, websites, sites, blog, criação de blogs, ux, teste de usabilidade, ")
    meta(name="author" content="Marllon Panisset")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="favicon.ico")
    //- para o Twitter Card
    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@marllonpanisset">
    <meta name="twitter:creator" content="@marllonpanisset">
    //- para Open Graph
    <meta property="og:title" content="Marllon Panisset – Desenvolvedor Front-end | Sites, Blogs" />
    <meta property="og:url" content="https://marllonpanisset.github.io/" />
    <meta property="og:image" content="https://i.imgur.com/MwlMYww.jpg" />
    <meta property="og:description" content="Sou Desenvolvedor Front-end, crio websites e blogs utilizando HTML5,CSS3 e Javascript" />
    <meta property="og:site_name" content="Marllon Panisset" />
    script.
        function onReady(callback) {
            var intervalId = window.setInterval(function() {
                if (document.getElementsByTagName('body')[0] !== undefined) {
                    window.clearInterval(intervalId);
                    callback.call(this);
                }
            }, 2000);
        }
        function setVisible(selector, visible) {
            document.querySelector(selector).style.display = visible ? 'block' : 'none';
        }
        onReady(function() {
            setVisible('.page', true);
            setVisible('#loader', false);
        });
    style.
        .page {display: none;}
        #loader {display: block;position: absolute;top: 0;left: 0;z-index: 100;width: 100vw;height: 100vh;background: #010101;}
        #loader:before {content:'';position: absolute;display: block;border: 16px solid #fff;border-radius: 50%;border-top: 16px solid #2196F3;width: 100px;height: 100px;left: 50%;margin-left: -50px;top: 50%;margin-top: -50px;-webkit-animation: spin 1s linear infinite;animation: spin 1s linear infinite;}
        @-webkit-keyframes spin {0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}
        @keyframes spin {0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}
    style.
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
    link(rel="preload" href="styles/main.css" as="style" onload="this.rel='stylesheet'")
    link(rel="stylesheet" href="styles/main.css")
    script(async src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")