head
    meta(charset="utf-8")
    title Marllon Panisset - Desenvolvedor Front-end
    meta(name="description" content="")
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800,900', rel='stylesheet')
    link(rel="stylesheet" href="styles/main.css")