block setups
doctype html
html(lang="pt-br" class="no-js")
	include ./helpers/head.pug
	body
		include ./includes/navbar.pug
		include ./includes/header.pug
		main(id="main" role="main")
			section#about.page-section
				.wrapper
					.profile-thumb
						img(src="https://i.imgur.com/MKit3oU.jpg" alt="Foto de Perfil")
					.biography
						h3 Sobre mim
						p Marllon Panisset, Carioca, 25 anos, Casado, Cristão, Libriano, amante da filosofia de vida Rastafari, Veganismo, Animais, Natureza, Técnologia, Skate e pai de um cachorro (Skank) e 2 gatos (Beck e Kaya).
						p Você deve está pensando, e eu com isso? Bom, eu sempre amei informática, em 2007 fiz meu primeiro curso Técnico de Informática Jr na Cedaspy, onde tambem fui estagiário e com apenas 15 anos , tirava dúvidas em aula e dava aulas de reposição. Em 2011 comecei cursar Analise e Desenvolvimento de Sistemas na Universidade Estácio de Sá mas não cheguei concluir.
						p Trabalhei 5 anos na area de suporte e manutenção, 4 deles trabalhei no Hospital de Clínicas Rio Mar, mas minha paixão sempre foi desenvolvimento web, fui Estagiário de Desenvolvimento Web por 1 ano e meio na <a href="https://www.sirius.com.br" target="_blank" rel="noopener" title="Sirius Interativa">Sirius Interativa</a>, em 2018 fui efetivado como Desenvolvedor Front-end Jr.
						p Nas horas vagas encontro tempo para freelancer, estudar, fazer trilhas, ir na praia, andar de skate... Viver, viver e ser livre, saber dar valor para as coisas mais simples. =)
					.skills
						h4 Habilidades
						.col-left
							.skillbar.clearfix(data-percent='90%')
								.skillbar-title(style='background: #d35400;')
									span HTML / HTML5
								.skillbar-bar(style='background: #e67e22;')
								.skill-bar-percent 90%
								// End Skill Bar
							.skillbar.clearfix(data-percent='85%')
								.skillbar-title(style='background: #2980b9;')
									span CSS / CSS3
								.skillbar-bar(style='background: #3498db;')
								.skill-bar-percent 85%
								// End Skill Bar
							.skillbar.clearfix(data-percent='70%')
								.skillbar-title(style='background: #2980b9;')
									span SASS
								.skillbar-bar(style='background: #3498db;')
								.skill-bar-percent 70%
								// End Skill Bar
							.skillbar.clearfix(data-percent='45%')
								.skillbar-title(style='background: #2c3e50;')
									span Javascript
								.skillbar-bar(style='background: #2c3e50;')
								.skill-bar-percent 45%
								// End Skill Bar
							.skillbar.clearfix(data-percent='65%')
								.skillbar-title(style='background: #2c3e50;')
									span jQuery
								.skillbar-bar(style='background: #2c3e50;')
								.skill-bar-percent 65%
								// End Skill Bar
							.skillbar.clearfix(data-percent='30%')
								.skillbar-title(style='background: #2c3e50;')
									span ReactJS
								.skillbar-bar(style='background: #2c3e50;')
								.skill-bar-percent 30%
								// End Skill Bar
							.skillbar.clearfix(data-percent='65%')
								.skillbar-title(style='background: #2c3e50;')
									span Gulp
								.skillbar-bar(style='background: #2c3e50;')
								.skill-bar-percent 65%
								// End Skill Bar
							.skillbar.clearfix(data-percent='45%')
								.skillbar-title(style='background: #2c3e50;')
									span Grunt
								.skillbar-bar(style='background: #2c3e50;')
								.skill-bar-percent 45%
								// End Skill Bar
							.skillbar.clearfix(data-percent='50%')
								.skillbar-title(style='background: #124e8c;')
									span Git
								.skillbar-bar(style='background: #4288d0;')
								.skill-bar-percent 50%
								// End Skill Bar
						.col-right
							.skillbar.clearfix(data-percent='70%')
								.skillbar-title(style='background: #124e8c;')
									span Linux
								.skillbar-bar(style='background: #4288d0;')
								.skill-bar-percent 70%
								// End Skill Bar
							.skillbar.clearfix(data-percent='30%')
								.skillbar-title(style='background: #46465e;')
									span PHP
								.skillbar-bar(style='background: #5a68a5;')
								.skill-bar-percent 30%
								// End Skill Bar
							.skillbar.clearfix(data-percent='30%')
								.skillbar-title(style='background: #46465e;')
									span Mysql
								.skillbar-bar(style='background: #5a68a5;')
								.skill-bar-percent 30%
								// End Skill Bar
							.skillbar.clearfix(data-percent='50%')
								.skillbar-title(style='background: #333333;')
									span Wordpress
								.skillbar-bar(style='background: #525252;')
								.skill-bar-percent 50%
								// End Skill Bar
							.skillbar.clearfix(data-percent='80%')
								.skillbar-title(style='background: #27ae60;')
									span SEO
								.skillbar-bar(style='background: #2ecc71;')
								.skill-bar-percent 80%
								// End Skill Bar
							.skillbar.clearfix(data-percent='70%')
								.skillbar-title(style='background: #124e8c;')
									span Photoshop
								.skillbar-bar(style='background: #4288d0;')
								.skill-bar-percent 70%
								// End Skill Bar
							.skillbar.clearfix(data-percent='80%')
								.skillbar-title(style='background: #124e8c;')
									span Design Responsivo
								.skillbar-bar(style='background: #4288d0;')
								.skill-bar-percent 80%
								// End Skill Bar
							.skillbar.clearfix(data-percent='70%')
								.skillbar-title(style='background: #124e8c;')
									span Mobile First
								.skillbar-bar(style='background: #4288d0;')
								.skill-bar-percent 70%
								// End Skill Bar
							.skillbar.clearfix(data-percent='60%')
								.skillbar-title(style='background: #124e8c;')
									span Web usability
								.skillbar-bar(style='background: #4288d0;')
								.skill-bar-percent 60%
								// End Skill Bar
			section#services.page-section
				.parallax.services
					.wrapper
						h3 Serviços
				.wrapper
					p Antes de estipular custos e prazos sempre analiso o projeto como um todo, trabalhando com um código customizado e adequado a cada necessidade utilizando novas tecnologias como HTML5 e CSS3.
					p Em relação a compatibilidade, é sempre bom lembrar que navegadores atualizados resultam em melhor performance, segurança e que seu site vai funcionar em todos eles. E se eu precisar de suporte para navegadores antigos? (ex: Internet Explorer 9). Tudo é possível, desde que haja um bom motivo pra isso!
					.card-services
						.item.match-height
							img(src="https://placeimg.com/150/150/animals" alt="Serviço")
							h4 PSD -> Frontend
							p Monto seu site identico ao Layout criado pelo Design, com uso de novas tecnologias em HTML5, CSS3 e Javascript.
						.item.match-height
							img(src="https://placeimg.com/150/150/animals" alt="Serviço")
							h4 Crossbrowser
							p Precisa de suporte para algum navegador antigo/específico? (ex: IE9). Tudo é possível, desde que haja um bom motivo pra isso!
						.item.match-height
							img(src="https://placeimg.com/150/150/animals" alt="Serviço")
							h4 Design Responsivo
							p Seu site/blog se adaptando para qualquer dispositivo e/ou resolução (ex: Smartphone/Pc/Tv).
						.item.match-height
							img(src="https://placeimg.com/150/150/animals" alt="Serviço")
							h4 SEO
							p Otimização para mecanismos de busca (Search Engine Optimization). É um conjunto de técnicas de otimizações para sites, blogs e páginas na web, que visam alcançar bons resultados em pesquisas em sites como o Google.
			section#portfolio.page-section
				.parallax.portfolio
					.wrapper
						h3 Portfólio
				.wrapper
					p Confira abaixo alguns dos trabalhos que realizei/participei em agências e como freelancer.
					.card-portfolio
						each item in ['item1','item2','item3','item4','item5','item6']
							.item
								a(href="") #{item}
			section#contact.page-section
				.parallax.contact
					.wrapper
						h3 Contato
				.wrapper
					p Precisando de um novo site institucional, hotsite ou um blog? Tem um projeto em mente mas precisa de um desenvolvedor front-end rápido, de qualidade e com um bom preço? Contate-me!
					p Só disponibilizo meu telefone para clientes. Caso  você esteja conhecendo meu trabalho agora, mande um e-mail explicando o seu projeto com detalhes, que eu ficarei feliz em responder com uma estimativa de valores e prazo.
					p Hoje em dia, com o avanço da técnologia, tudo está na nuvem, posso realizar um trabalho para uma pessoa/empresa de qualquer lugar do mundo e fazer reuniões via chamada de video no Hangouts.
					P Estou disponibilizando meu e-mail e redes sociais, caso queira entrar em contato ou me conhecer melhor.
					p Criação de sites, portfolio, blogs, otimização para mecanismos de busca (SEO). São muitas possibilidades. Confira alguns dos serviços que ofereço.
					ul
						li Construção de hotsites e sites institucionais
						li Blogs e sites em Wordpress
						li Análise e implementação de otimização para mecanismos de busca (SEO).
						li Codificação de email marketing/newsletter
		include ./includes/footer.pug
