$mobile: 320px;
$mobile-small: 479px;
$mobile-medium: 568px;
$mobile-large: 640px;

$tablet: 768px;

$desktop: 1024px;
$desktop-small: 1280px;
$desktop-medium: 1440px;
$desktop-large: 1600px;
$desktop-full: 1920px;