$preto: #000000;
$preto2: #080808;
$preto3: #010101;
$preto4: #181818;
$cinza: #222222;
$cinza2: #2d3436;
$cinza3: #b2bec3;
$branco: #ffffff;
$branco2: #ececec;
$azul: #00a8ff;
$verde: #2ecc71;
$laranja: #fea217;