#footer {
    position: relative;
    float: left;
    width: 100%;
    min-height: 91px;
    background-color: $preto3;
    box-sizing: border-box;
    text-align: center;
    color: $branco;
    padding: {
        top: 18px;
        bottom: 10px;
    }

    .wrapper {
        position: relative;
        padding-right: 0;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .copyright {
        position: relative;
        float: left;
        top: 20px;
    }

    .fb-like {
        float: right;
        width: 453px;

        
        @media (max-width: 959px) {
            float: left;
            clear: both;
            margin-top: 45px;
            margin-left: -27px;
        }
        
        @media (max-width: 479px) {
            width: 270px;
            margin-left: 0px;
            overflow: hidden;

            > span {
                width: 144px !important;
                float: left;
            }
            
            iframe {
                width: 270px !important;
                overflow: hidden;
            }
        }
    }

    #___plus_0 {
        float: right !important;

        @media (max-width: 959px) {
            float: left !important;
            clear: both;
            margin: {
                top: 20px !important;
                bottom: 20px !important;
            }
        }
    }
}