#footer {
    position: relative;
    float: left;
    width: 100%;
    min-height: 50px;
    background-color: #000000;
    box-sizing: border-box;
    text-align: center;
    color: $branco;

    .wrapper {
        position: relative;
        padding-right: 0;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }

    .copyright {
        position: relative;
        text-align: center;
        clear: both;
        height: 50px;
        background: #000000;
        width: 100%;
        display: block;
        line-height: 50px;
    }

    .fb-like {
        float: right;
        width: 453px;

        
        @media (max-width: 959px) {
            float: left;
            clear: both;
            margin-top: 45px;
            margin-left: -27px;
        }
        
        @media (max-width: 479px) {
            width: 270px;
            margin-left: 0px;
            overflow: hidden;

            > span {
                width: 144px !important;
                float: left;
            }
            
            iframe {
                width: 270px !important;
                overflow: hidden;
            }
        }
    }
    
}