#header {
    -webkit-backface-visibility: hidden;
    background-attachment: fixed !important;
    background-position: center;
    background-size: cover;
    // position: fixed;
    height: 100vh;
    text-align: center;
    width: 100%;
    
    @media (min-width: 1921px) {
        background: url($pedra-da-gavea-2048_1365) no-repeat;
    }
    
    @media (max-width: 1920px) {
        background: url($pedra-da-gavea-1920_1280) no-repeat;
    }
    
    @media (max-width: 1600px) {
        background: url($pedra-da-gavea-1600_1066) no-repeat;
    }
    
    @media (max-width: 1400px) {
        background: url($pedra-da-gavea-1400_933) no-repeat;
    }
    
    @media (max-width: 1366px) {
        background: url($pedra-da-gavea-1366_910) no-repeat;
    }
    
    @media (max-width: 1024px) {
        background: url($pedra-da-gavea-1024_1365) no-repeat;
    }
    
    @media (max-width: 1024px) and (max-height: 768px) {
        background: url($pedra-da-gavea-1024_768) no-repeat;
    }
    
    @media (max-width: 768px) {
        background: url($pedra-da-gavea-768_1024) no-repeat;
    }
    
    @media (max-width: 640px) {
        background: url($pedra-da-gavea-640_427) no-repeat;
    }
    
    @media (max-width: 480px) {
        background: #000 url($pedra-da-gavea-480_320) no-repeat;
    }
    
    @media (max-width: 375px) {
        background: url($pedra-da-gavea-375_812) no-repeat;
    }
    
    @media (max-width: 812px) and (max-height:375px) {
        background: url($pedra-da-gavea-812_375) no-repeat;
    }

    .wrap {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);

        .site-description {
            color: $branco;
            font-family: 'roboto';
            text-align: center;

            h2 {
                font-weight: 100;
                font-size: 4rem;
                margin-bottom: 20px;

                @media (min-width: 587px) and (max-width: 768px) {
                    padding: 0 100px;
                }

                @media (max-width: 667px) and (max-height: 384px) {
                    padding: 0 120px;
                    font-size: 3rem;
                }

                @media (max-width: 480px) and (max-height: 320px) {
                    padding: 0 100px;
                    font-size: 2.3rem;
                }

                @media (max-width: 479px) {
                    font-size: 3rem;
                    padding: 0 20px;
                }

                @media (max-width: 359px) {
                    font-size: 2.6rem;
                }
            }

            span {
                font-weight: 300;
                font-size: 1.2rem;

                @media (max-width: 480px) and (max-height: 320px) {
                    font-size: 1rem;
                }
            }
        }
        
        @media (max-width: 959px) {
            .social-network {
                display: none;
            }
        }
    }

    .read-more {
        position: absolute;
        bottom: 60px;
        left: 50%;
        margin-left: -40px;
        display: block;
        width: 60px;
        height: 60px;
        text-decoration: none;
        z-index: 100;
        text-indent: -999999em;
        animation: pulse 1.5s 4s ease-out infinite;

        @media (max-width: 812px) and (max-height: 375px) {
            bottom: 40px;
        }

        @media (max-width: 736px) and (max-height: 414px) {
            bottom: 40px;
        }

        @media (max-width: 667px) and (max-height: 384px) {
            bottom: 40px;
        }

        @media (max-width: 568px) and (max-height: 320px) {
            bottom: 30px;
        }

        @media (max-width: 480px) and (max-height: 320px) {
            bottom: 30px;
        }

        svg {
            width: 60px;
            height: 60px;
            display: block;
            color: $branco;
            animation: fade-slide-up 1.2s 1.8s ease-out forwards;
        }
    }
}

