$profile-desktop: 'https://i.imgur.com/6RJ51cs.jpg';
$profile-tablet: 'https://i.imgur.com/fvd2PUa.jpg';
$profile-mobile: 'https://i.imgur.com/CVAAxTW.jpg';
$office-1920: 'https://i.imgur.com/wJWwOlq.jpg';
$notebook-coffe: 'https://i.imgur.com/mXUXjyM.jpg';
$notebook: 'https://i.imgur.com/nrVdVaW.jpg';
$predra-da-gavea: 'https://i.imgur.com/kfv36iG.jpg';
$cafe: 'https://i.imgur.com/gmquCQ3.jpg';
$pedra-da-gavea-375_812: 'https://i.imgur.com/aDcmz4t.jpg';
$pedra-da-gavea-480_320: 'https://imgur.com/tep4Lgi.jpg';
$pedra-da-gavea-640_427: 'https://imgur.com/pdVRYML.jpg';
$pedra-da-gavea-768_1024: 'https://imgur.com/72MMxdw.jpg';
$pedra-da-gavea-812_375: 'https://imgur.com/nzLcUUb.jpg';
$pedra-da-gavea-1024_683: 'https://imgur.com/dE5634I.jpg';
$pedra-da-gavea-1024_768: 'https://imgur.com/EUcw2F5.jpg';
$pedra-da-gavea-1024_1365: 'https://imgur.com/fOU0oMz.jpg';
$pedra-da-gavea-1200_800: 'https://imgur.com/8ROi7od.jpg';
$pedra-da-gavea-1366_910: 'https://imgur.com/OWJYb3u.jpg';
$pedra-da-gavea-1400_933: 'https://imgur.com/zWlwlN0.jpg';
$pedra-da-gavea-1600_1066: 'https://imgur.com/1vb30CN.jpg';
$pedra-da-gavea-1920_1280: 'https://imgur.com/GoyBvOH.jpg';
$pedra-da-gavea-2048_1365: 'https://imgur.com/LwBwcHp.jpg';
$pedra-da-gavea-2: 'https://i.imgur.com/ezkQvzS.jpg';
$pedra-da-gavea-3: 'https://i.imgur.com/Q7NfXdR.jpg';
$pedra-da-gavea-4: 'https://i.imgur.com/ZgDT8pk.jpg';
$pedra-da-gavea-5: 'https://i.imgur.com/GhohN42.jpg';
$contato: 'https://i.imgur.com/f3x46mW.jpg';
$contato-2: 'https://i.imgur.com/l4o6b8U.jpg';
$contato-3: 'https://i.imgur.com/kJyQMIX.jpg';
$contato-4: 'https://i.imgur.com/Jmfinns.jpg';
$contato-5: 'https://i.imgur.com/m1hKRQV.jpg';
$contato-6: 'https://i.imgur.com/Z22v91k.jpg';
$contato-7: 'https://i.imgur.com/tGLl3ne.jpg';