$profile-desktop: 'https://i.imgur.com/uVs1VQW.jpg';
$profile-tablet: 'https://i.imgur.com/fvd2PUa.jpg';
$profile-mobile: 'https://i.imgur.com/CVAAxTW.jpg';
$predra-da-gavea: 'https://i.imgur.com/kfv36iG.jpg';
$office: 'https://i.imgur.com/wJWwOlq.jpg';
$notebook-coffe: 'https://i.imgur.com/mXUXjyM.jpg';
$notebook: 'https://i.imgur.com/nrVdVaW.jpg';