body {
    overflow: hidden;
    
    &.init-site {
        overflow: auto;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease-out;
    -webkit-transition: all .6s ease-out;
    z-index: 300;
    
    &:before {
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #faa200;
    }
    
    div {
        background: #faa200;
        z-index: 300;
        position: relative;
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 3s;
        
        
        &:before {
            content: '/';
            display: inline-block;
            position: absolute;
            font-family: 'Ubuntu';
            font-size: 3.35em;
            font-weight: 100;
            letter-spacing: .09em;
            color: $branco;
            
            @media (min-width: 768px) {
                left: 28px;
            }

            @media (min-width: 480px) and (max-width: 767px) {
                font-size: 2em;
                left: 20px;
            }

            @media (max-width: 479px) {
                font-size: 1.5em;
                left: 15px;
            }
        }
        
        &:after {
            content: '< > Marllon Panisset';
            display: inline-block;
            font-family: 'Ubuntu';
            font-size: 3em;
            font-weight: 100;
            letter-spacing: .09em;
            color: $branco;
    
            @media (min-width: 480px) and (max-width: 767px) {
                font-size: 2em;
            }

            @media (max-width: 479px) {
                font-size: 1.5em;
            }
        }
    }

    .hide-loading & {
        display: none;
    }

    .init-site & {
        opacity: 0;
    }
}


