$padraoTexto: $preto2;
$padraoTextoLink: $preto;
$padraoTextoLinkHover: $laranja;
$base-font-size: 16px;

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: $base-font-size;
    color: $padraoTexto;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

p {
    margin-bottom: em(20px);
    color: $padraoTexto;
    transition: all .3s;
    font-weight: 400;

    strong {
        font-weight: 600;
    }

    &:hover {
        a {
            color: $padraoTextoLinkHover;
            text-decoration: underline;
            transition: all .3s;
        }
    }

    a {
        text-decoration: underline;
        transition: all .3s;
        
        &:hover {
            text-decoration: underline;
            transition: all .3s;
        }
    }

    
    @media (min-width: 1025px) {
        line-height: em(30px, 18px);
        font-size: em(18px);
    }

    @media (max-width: 1024px) {
        line-height: em(25px, 16px);
        font-size: em(16px);
    }

    @media (max-width: 360px) {
        line-height: em(25px, 15px);
        font-size: em(15px);
    }

    @media (max-width: 320px) {
        line-height: em(25px, 14px);
        font-size: em(14px);
    }
}

.align-center {
    text-align: center;
}

h3 {
    font-size: em(36px);
    font-weight: 600;
    color: $preto2;
    
    @media (min-width: 1px) and (max-width: 480px) {
        font-size: em(32px);
        margin-bottom: 25px;
    }
    
    @media (min-width: 481px) and (max-width: 1024px) {
        margin-bottom: 30px;
    }

    @media (min-width: 1025px) {
        font-size: em(36px);
        margin-bottom: 40px;
    }
}

h4 {
    text-transform: uppercase;
    font-size: em(28px);
    margin-bottom: 30px;
    font-weight: 600;
    color: $preto2;

    @media (max-width: 1024px) {
        margin-bottom: 40px;
    }

    @media (max-width: 480px) {
        margin-bottom: 30px;
    }
}