$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-whatsapp: "\e900";
$icon-texto: "\e901";
$icon-responsive-design: "\e902";
$icon-network: "\e903";
$icon-logo: "\e904";
$icon-linkedin: "\e905";
$icon-imagem: "\e906";
$icon-gmail: "\e907";
$icon-github: "\e908";
$icon-front-end: "\e909";
$icon-facebook: "\e90a";
$icon-domain-www: "\e90b";
$icon-computer: "\e90c";
$icon-bar-chart: "\e90d";
$icon-angle-down-solid: "\e90e";
$icon-analytics: "\e90f";

@font-face {
  font-family: "icomoon";
  src:
    url('../../fonts/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon.woff') format('woff'),
    url('../../fonts/icomoon.svg#') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-texto {
  &:before {
    content: $icon-texto; 
  }
}
.icon-responsive-design {
  &:before {
    content: $icon-responsive-design; 
  }
}
.icon-network {
  &:before {
    content: $icon-network; 
  }
}
.icon-logo {
  &:before {
    content: $icon-logo; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-imagem {
  &:before {
    content: $icon-imagem; 
  }
}
.icon-gmail {
  &:before {
    content: $icon-gmail; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-front-end {
  &:before {
    content: $icon-front-end; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-domain-www {
  &:before {
    content: $icon-domain-www; 
  }
}
.icon-computer {
  &:before {
    content: $icon-computer; 
  }
}
.icon-bar-chart {
  &:before {
    content: $icon-bar-chart; 
  }
}
.icon-angle-down-solid {
  &:before {
    content: $icon-angle-down-solid; 
  }
}
.icon-analytics {
  &:before {
    content: $icon-analytics; 
  }
}

